In [1]:
import json

with open("C:\\Users\HP\\\GUVI_PROJ\\sample_airbnb.json",'r') as json_data:
    data=json.load(json_data)

import pandas as pd
normalized_data=pd.json_normalize(data)
df=pd.DataFrame(normalized_data)
print(df['_id'])

0        1003530
1       10133554
2       10059872
3       10084023
4       10091713
          ...
5550     9985696
5551     9993190
5552     9887054
5553     9907907
5554     9936016
Name: _id, Length: 5555, dtype: object

In [2]:
unhashable_cols = []
for col in df.columns:
    if df[col].apply(lambda x: isinstance(x, list)).any():
        unhashable_cols.append(col)

# Convert unhashable types to hashable (e.g., convert lists to strings)
for col in unhashable_cols:
    df[col] = df[col].apply(lambda x: str(x) if isinstance(x, list) else x)

# Check for duplicates
num_duplicates = len(df) - len(df.drop_duplicates())
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 77 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   _id                                        5555 non-null   object
 1   listing_url                                5555 non-null   object
 2   name                                       5555 non-null   object
 3   summary                                    5555 non-null   object
 4   space                                      5555 non-null   object
 5   description                                5555 non-null   object
 6   neighborhood_overview                      5555 non-null   object
 7   notes                                      5555 non-null   object
 8   transit                                    5555 non-null   object
 9   access                                     5555 non-null   object
 10  interaction                                5555 non-null   object
 11  house_rules                                5555 non-null   object
 12  property_type                              5555 non-null   object
 13  room_type                                  5555 non-null   object
 14  bed_type                                   5555 non-null   object
 15  minimum_nights                             5555 non-null   object
 16  maximum_nights                             5555 non-null   object
 17  cancellation_policy                        5555 non-null   object
 18  last_scraped                               5555 non-null   object
 19  calendar_last_scraped                      5555 non-null   object
 20  first_review                               4167 non-null   object
 21  last_review                                4167 non-null   object
 22  accommodates                               5555 non-null   int64
 23  bedrooms                                   5550 non-null   float64
 24  beds                                       5542 non-null   float64
 25  number_of_reviews                          5555 non-null   int64
 26  bathrooms                                  5545 non-null   float64
 27  amenities                                  5555 non-null   object
 28  price                                      5555 non-null   float64
 29  security_deposit                           3471 non-null   float64
 30  cleaning_fee                               4024 non-null   float64
 31  extra_people                               5555 non-null   float64
 32  guests_included                            5555 non-null   float64
 33  reviews                                    5555 non-null   object
 34  images.thumbnail_url                       5555 non-null   object
 35  images.medium_url                          5555 non-null   object
 36  images.picture_url                         5555 non-null   object
 37  images.xl_picture_url                      5555 non-null   object
 38  host.host_id                               5555 non-null   object
 39  host.host_url                              5555 non-null   object
 40  host.host_name                             5555 non-null   object
 41  host.host_location                         5555 non-null   object
 42  host.host_about                            5555 non-null   object
 43  host.host_response_time                    4167 non-null   object
 44  host.host_thumbnail_url                    5555 non-null   object
 45  host.host_picture_url                      5555 non-null   object
 46  host.host_neighbourhood                    5555 non-null   object
 47  host.host_response_rate                    4167 non-null   float64
 48  host.host_is_superhost                     5555 non-null   bool
 49  host.host_has_profile_pic                  5555 non-null   bool
 50  host.host_identity_verified                5555 non-null   bool
 51  host.host_listings_count                   5555 non-null   int64
 52  host.host_total_listings_count             5555 non-null   int64
 53  host.host_verifications                    5555 non-null   object
 54  address.street                             5555 non-null   object
 55  address.suburb                             5555 non-null   object
 56  address.government_area                    5555 non-null   object
 57  address.market                             5555 non-null   object
 58  address.country                            5555 non-null   object
 59  address.country_code                       5555 non-null   object
 60  address.location.type                      5555 non-null   object
 61  address.location.coordinates               5555 non-null   object
 62  address.location.is_location_exact         5555 non-null   bool
 63  availability.availability_30               5555 non-null   int64
 64  availability.availability_60               5555 non-null   int64
 65  availability.availability_90               5555 non-null   int64
 66  availability.availability_365              5555 non-null   int64
 67  review_scores.review_scores_accuracy       4079 non-null   float64
 68  review_scores.review_scores_cleanliness    4082 non-null   float64
 69  review_scores.review_scores_checkin        4080 non-null   float64
 70  review_scores.review_scores_communication  4081 non-null   float64
 71  review_scores.review_scores_location       4081 non-null   float64
 72  review_scores.review_scores_value          4080 non-null   float64
 73  review_scores.review_scores_rating         4081 non-null   float64
 74  weekly_price                               714 non-null    float64
 75  monthly_price                              656 non-null    float64
 76  reviews_per_month                          94 non-null     float64
dtypes: bool(4), float64(19), int64(8), object(46)
memory usage: 3.1+ MB

In [2]:
new_columns=['_id','name','neighborhood_overview','property_type','room_type','bed_type','minimum_nights','maximum_nights','accommodates','bedrooms','address.location.coordinates','review_scores.review_scores_rating','address.country','address.street',
             'beds','number_of_reviews','bathrooms','amenities','price','extra_people','guests_included','reviews','availability.availability_30','availability.availability_60','availability.availability_90','availability.availability_365','review_scores.review_scores_location','weekly_price','monthly_price']
df_1=df[new_columns]
df_1

,_id,name,neighborhood_overview,property_type,room_type,bed_type,minimum_nights,maximum_nights,accommodates,bedrooms,...,extra_people,guests_included,reviews,availability.availability_30,availability.availability_60,availability.availability_90,availability.availability_365,review_scores.review_scores_location,weekly_price,monthly_price
0,1003530,New York City - Upper West Side Apt,Great neighborhood - many terrific restaurants...,Apartment,Private room,Real Bed,12,360,2,1.0,...,0.0,1.0,"[{'_id': '4351675', 'date': '2013-04-29 04:00:...",0,0,0,93,10.0,NaN,NaN
1,10133554,Double and triple rooms Blue mosque,Cankurtaran mahallesi akbıyık caddesi no 22 Su...,Bed and breakfast,Private room,Real Bed,1,1125,3,1.0,...,0.0,1.0,"[{'_id': '149469150', 'date': '2017-05-04 04:0...",30,60,90,365,10.0,NaN,NaN
2,10059872,"Soho Cozy, Spacious and Convenient",,Apartment,Entire home/apt,Real Bed,4,20,3,1.0,...,0.0,1.0,"[{'_id': '56904633', 'date': '2015-12-19 05:00...",0,0,0,0,10.0,5000.0,NaN
3,10084023,City center private room with bed,"Cheapest food, electronic device, clothing and...",Guesthouse,Private room,Futon,1,500,1,1.0,...,100.0,1.0,"[{'_id': '57191745', 'date': '2015-12-22 05:00...",14,24,40,220,10.0,1350.0,5000.0
4,10091713,Surry Hills Studio - Your Perfect Base in Sydney,Surry Hills is a vibrant eclectic community an...,Apartment,Entire home/apt,Real Bed,10,21,2,0.0,...,0.0,1.0,"[{'_id': '123549502', 'date': '2016-12-29 05:0...",0,0,0,0,10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,Kadıköy-Altıyol,,House,Entire home/apt,Real Bed,1,1125,2,2.0,...,0.0,1.0,[],30,60,90,365,NaN,NaN,NaN
5551,9993190,Just Steps from the Ocean at Premier Platinum ...,Location: Located at the south end of Lahaina ...,Townhouse,Entire home/apt,Real Bed,3,365,6,2.0,...,0.0,1.0,"[{'_id': '68762225', 'date': '2016-04-06 04:00...",0,8,31,258,10.0,NaN,NaN
5552,9887054,Quarry Bay fully furnished studio C,,Apartment,Private room,Real Bed,3,1125,1,1.0,...,300.0,2.0,"[{'_id': '105800033', 'date': '2016-10-02 04:0...",18,48,78,353,10.0,NaN,NaN
5553,9907907,Large double room in Bondi,,Apartment,Private room,Real Bed,3,1125,2,1.0,...,50.0,2.0,[],0,0,0,0,NaN,NaN,NaN
5554,9936016,Alugo Apartamento na Tijuca,,Apartment,Entire home/apt,Real Bed,1,1125,6,1.0,...,0.0,1.0,[],0,0,0,0,NaN,NaN,NaN

In [5]:
data_types = df_1.dtypes
data_types

_id                                      object
name                                     object
neighborhood_overview                    object
property_type                            object
room_type                                object
bed_type                                 object
minimum_nights                           object
maximum_nights                           object
accommodates                              int64
bedrooms                                float64
address.location.coordinates             object
review_scores.review_scores_rating      float64
address.country                          object
beds                                    float64
number_of_reviews                         int64
bathrooms                               float64
amenities                                object
price                                   float64
extra_people                            float64
guests_included                         float64
reviews                                  object
availability.availability_30              int64
availability.availability_60              int64
availability.availability_90              int64
availability.availability_365             int64
review_scores.review_scores_location    float64
weekly_price                            float64
monthly_price                           float64
dtype: object

In [3]:
df_2=df_1

In [8]:
def is_integer(value):
    try:
        # Check if the value can be converted to an integer
        int(value)
        return True
    except ValueError:
        return False

# Apply the function to the object column to detect integers
df_2['is_integer'] = df_2['_id'].apply(is_integer)

# Display the DataFrame with the detection results
print(df_2)

           _id                                               name  \
0      1003530                New York City - Upper West Side Apt
1     10133554                Double and triple rooms Blue mosque
2     10059872                 Soho Cozy, Spacious and Convenient
3     10084023                  City center private room with bed
4     10091713   Surry Hills Studio - Your Perfect Base in Sydney
...        ...                                                ...
5550   9985696                                    Kadıköy-Altıyol
5551   9993190  Just Steps from the Ocean at Premier Platinum ...
5552   9887054                Quarry Bay fully furnished studio C
5553   9907907                         Large double room in Bondi
5554   9936016                        Alugo Apartamento na Tijuca

                                  neighborhood_overview      property_type  \
0     Great neighborhood - many terrific restaurants...          Apartment
1     Cankurtaran mahallesi akbıyık caddesi no 22 Su...  Bed and breakfast
2                                                                Apartment
3     Cheapest food, electronic device, clothing and...         Guesthouse
4     Surry Hills is a vibrant eclectic community an...          Apartment
...                                                 ...                ...
5550                                                                 House
5551  Location: Located at the south end of Lahaina ...          Townhouse
5552                                                             Apartment
5553                                                             Apartment
5554                                                             Apartment

            room_type  bed_type  minimum_nights  maximum_nights  accommodates  \
0        Private room  Real Bed              12             360             2
1        Private room  Real Bed               1            1125             3
2     Entire home/apt  Real Bed               4              20             3
3        Private room     Futon               1             500             1
4     Entire home/apt  Real Bed              10              21             2
...               ...       ...             ...             ...           ...
5550  Entire home/apt  Real Bed               1            1125             2
5551  Entire home/apt  Real Bed               3             365             6
5552     Private room  Real Bed               3            1125             1
5553     Private room  Real Bed               3            1125             2
5554  Entire home/apt  Real Bed               1            1125             6

      bedrooms  ... guests_included  \
0          1.0  ...             1.0
1          1.0  ...             1.0
2          1.0  ...             1.0
3          1.0  ...             1.0
4          0.0  ...             1.0
...        ...  ...             ...
5550       2.0  ...             1.0
5551       2.0  ...             1.0
5552       1.0  ...             2.0
5553       1.0  ...             2.0
5554       1.0  ...             1.0

                                                reviews  \
0     [{'_id': '4351675', 'date': '2013-04-29 04:00:...
1     [{'_id': '149469150', 'date': '2017-05-04 04:0...
2     [{'_id': '56904633', 'date': '2015-12-19 05:00...
3     [{'_id': '57191745', 'date': '2015-12-22 05:00...
4     [{'_id': '123549502', 'date': '2016-12-29 05:0...
...                                                 ...
5550                                                 []
5551  [{'_id': '68762225', 'date': '2016-04-06 04:00...
5552  [{'_id': '105800033', 'date': '2016-10-02 04:0...
5553                                                 []
5554                                                 []

     availability.availability_30 availability.availability_60  \
0                               0                            0
1                              30                           60
2                               0                            0
3                              14                           24
4                               0                            0
...                           ...                          ...
5550                           30                           60
5551                            0                            8
5552                           18                           48
5553                            0                            0
5554                            0                            0

      availability.availability_90  availability.availability_365  \
0                                0                             93
1                               90                            365
2                                0                              0
3                               40                            220
4                                0                              0
...                            ...                            ...
5550                            90                            365
5551                            31                            258
5552                            78                            353
5553                             0                              0
5554                             0                              0

      review_scores.review_scores_location weekly_price  monthly_price  \
0                                     10.0          NaN            NaN
1                                     10.0          NaN            NaN
2                                     10.0       5000.0            NaN
3                                     10.0       1350.0         5000.0
4                                     10.0          NaN            NaN
...                                    ...          ...            ...
5550                                   NaN          NaN            NaN
5551                                  10.0          NaN            NaN
5552                                  10.0          NaN            NaN
5553                                   NaN          NaN            NaN
5554                                   NaN          NaN            NaN

      is_integer
0           True
1           True
2           True
3           True
4           True
...          ...
5550        True
5551        True
5552        True
5553        True
5554        True

[5555 rows x 30 columns]

C:\Users\HP\AppData\Local\Temp\ipykernel_7044\2841647752.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['is_integer'] = df_2['_id'].apply(is_integer)

In [6]:
print(df_2.loc[~df_2['is_integer'], '_id'])

Series([], Name: _id, dtype: object)

In [9]:
df_2['_id'] = df_2['_id'].astype('int64')
df_2['maximum_nights'] = df_2['maximum_nights'].astype('int64')
df_2['minimum_nights'] = df_2['minimum_nights'].astype('int64')
df_2

C:\Users\HP\AppData\Local\Temp\ipykernel_7044\958183462.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['_id'] = df_2['_id'].astype('int64')
C:\Users\HP\AppData\Local\Temp\ipykernel_7044\958183462.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['maximum_nights'] = df_2['maximum_nights'].astype('int64')
C:\Users\HP\AppData\Local\Temp\ipykernel_7044\958183462.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['minimum_nights'] = df_2['minimum_nights'].astype('int64')

,_id,name,neighborhood_overview,property_type,room_type,bed_type,minimum_nights,maximum_nights,accommodates,bedrooms,...,guests_included,reviews,availability.availability_30,availability.availability_60,availability.availability_90,availability.availability_365,review_scores.review_scores_location,weekly_price,monthly_price,is_integer
0,1003530,New York City - Upper West Side Apt,Great neighborhood - many terrific restaurants...,Apartment,Private room,Real Bed,12,360,2,1.0,...,1.0,"[{'_id': '4351675', 'date': '2013-04-29 04:00:...",0,0,0,93,10.0,NaN,NaN,True
1,10133554,Double and triple rooms Blue mosque,Cankurtaran mahallesi akbıyık caddesi no 22 Su...,Bed and breakfast,Private room,Real Bed,1,1125,3,1.0,...,1.0,"[{'_id': '149469150', 'date': '2017-05-04 04:0...",30,60,90,365,10.0,NaN,NaN,True
2,10059872,"Soho Cozy, Spacious and Convenient",,Apartment,Entire home/apt,Real Bed,4,20,3,1.0,...,1.0,"[{'_id': '56904633', 'date': '2015-12-19 05:00...",0,0,0,0,10.0,5000.0,NaN,True
3,10084023,City center private room with bed,"Cheapest food, electronic device, clothing and...",Guesthouse,Private room,Futon,1,500,1,1.0,...,1.0,"[{'_id': '57191745', 'date': '2015-12-22 05:00...",14,24,40,220,10.0,1350.0,5000.0,True
4,10091713,Surry Hills Studio - Your Perfect Base in Sydney,Surry Hills is a vibrant eclectic community an...,Apartment,Entire home/apt,Real Bed,10,21,2,0.0,...,1.0,"[{'_id': '123549502', 'date': '2016-12-29 05:0...",0,0,0,0,10.0,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9985696,Kadıköy-Altıyol,,House,Entire home/apt,Real Bed,1,1125,2,2.0,...,1.0,[],30,60,90,365,NaN,NaN,NaN,True
5551,9993190,Just Steps from the Ocean at Premier Platinum ...,Location: Located at the south end of Lahaina ...,Townhouse,Entire home/apt,Real Bed,3,365,6,2.0,...,1.0,"[{'_id': '68762225', 'date': '2016-04-06 04:00...",0,8,31,258,10.0,NaN,NaN,True
5552,9887054,Quarry Bay fully furnished studio C,,Apartment,Private room,Real Bed,3,1125,1,1.0,...,2.0,"[{'_id': '105800033', 'date': '2016-10-02 04:0...",18,48,78,353,10.0,NaN,NaN,True
5553,9907907,Large double room in Bondi,,Apartment,Private room,Real Bed,3,1125,2,1.0,...,2.0,[],0,0,0,0,NaN,NaN,NaN,True
5554,9936016,Alugo Apartamento na Tijuca,,Apartment,Entire home/apt,Real Bed,1,1125,6,1.0,...,1.0,[],0,0,0,0,NaN,NaN,NaN,True

In [10]:
df_2.to_csv('Air_Second_five.csv')

In [11]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   _id                                   5555 non-null   int64
 1   name                                  5555 non-null   object
 2   neighborhood_overview                 5555 non-null   object
 3   property_type                         5555 non-null   object
 4   room_type                             5555 non-null   object
 5   bed_type                              5555 non-null   object
 6   minimum_nights                        5555 non-null   int64
 7   maximum_nights                        5555 non-null   int64
 8   accommodates                          5555 non-null   int64
 9   bedrooms                              5550 non-null   float64
 10  address.location.coordinates          5555 non-null   object
 11  review_scores.review_scores_rating    4081 non-null   float64
 12  address.country                       5555 non-null   object
 13  address.street                        5555 non-null   object
 14  beds                                  5542 non-null   float64
 15  number_of_reviews                     5555 non-null   int64
 16  bathrooms                             5545 non-null   float64
 17  amenities                             5555 non-null   object
 18  price                                 5555 non-null   float64
 19  extra_people                          5555 non-null   float64
 20  guests_included                       5555 non-null   float64
 21  reviews                               5555 non-null   object
 22  availability.availability_30          5555 non-null   int64
 23  availability.availability_60          5555 non-null   int64
 24  availability.availability_90          5555 non-null   int64
 25  availability.availability_365         5555 non-null   int64
 26  review_scores.review_scores_location  4081 non-null   float64
 27  weekly_price                          714 non-null    float64
 28  monthly_price                         656 non-null    float64
 29  is_integer                            5555 non-null   bool
dtypes: bool(1), float64(10), int64(9), object(10)
memory usage: 1.2+ MB

In [12]:
# Convert specific columns to string
df_2['property_type'] = df_2['property_type'].astype('str')
df_2['room_type'] = df_2['room_type'].astype('str')
df_2['bed_type'] = df_2['bed_type'].astype('str')
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 30 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   _id                                   5555 non-null   int64
 1   name                                  5555 non-null   object
 2   neighborhood_overview                 5555 non-null   object
 3   property_type                         5555 non-null   object
 4   room_type                             5555 non-null   object
 5   bed_type                              5555 non-null   object
 6   minimum_nights                        5555 non-null   int64
 7   maximum_nights                        5555 non-null   int64
 8   accommodates                          5555 non-null   int64
 9   bedrooms                              5550 non-null   float64
 10  address.location.coordinates          5555 non-null   object
 11  review_scores.review_scores_rating    4081 non-null   float64
 12  address.country                       5555 non-null   object
 13  address.street                        5555 non-null   object
 14  beds                                  5542 non-null   float64
 15  number_of_reviews                     5555 non-null   int64
 16  bathrooms                             5545 non-null   float64
 17  amenities                             5555 non-null   object
 18  price                                 5555 non-null   float64
 19  extra_people                          5555 non-null   float64
 20  guests_included                       5555 non-null   float64
 21  reviews                               5555 non-null   object
 22  availability.availability_30          5555 non-null   int64
 23  availability.availability_60          5555 non-null   int64
 24  availability.availability_90          5555 non-null   int64
 25  availability.availability_365         5555 non-null   int64
 26  review_scores.review_scores_location  4081 non-null   float64
 27  weekly_price                          714 non-null    float64
 28  monthly_price                         656 non-null    float64
 29  is_integer                            5555 non-null   bool
dtypes: bool(1), float64(10), int64(9), object(10)
memory usage: 1.2+ MB

C:\Users\HP\AppData\Local\Temp\ipykernel_7044\1897755007.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['property_type'] = df_2['property_type'].astype('str')
C:\Users\HP\AppData\Local\Temp\ipykernel_7044\1897755007.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['room_type'] = df_2['room_type'].astype('str')
C:\Users\HP\AppData\Local\Temp\ipykernel_7044\1897755007.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['bed_type'] = df_2['bed_type'].astype('str')